<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - ADO Generator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-TbR+xVQG6aF8PHOxHFsF1bQKtl52udbZHEafk7bkEArImcdOQ9jPChn1ytY1/6w" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-4">
        @RenderBody()
        @RenderSection("Scripts", required: false)
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-gmNZbnLwtXQoIJqSUXGgEcg2YkdE+5EYXPLkZX31lrT7xvFeoDyAJRDigw1VE3D6" crossorigin="anonymous"></script>
</body>
</html>
